<div class="container mx-auto">
  <header>
    <img ngSrc="assets/images/interactuar.png" alt="" height="7" width="53" />
    <button class="btn">¡Solicita tu crédito!</button>
  </header>
  <main class="main">
    <section class="main__img-container">
      <img ngSrc="assets/images/logo.png" alt="Logo" height="60" width="288"/>
    </section>
    <section class="main__content">
      <button class="btn">¡Solicita tu crédito!</button>
      <h1>¡Bienvenido al crédito digital de Interactuar!</h1>
      <p>
        Solicita tu crédito digital con Interactuar, rápido y fácil desde la
        comodidad de tu casa y ¡haz crecer tu negocio!
      </p>
    </section>

    <button class="btn-float">
      <img ngSrc="assets/icons/call.svg" alt="" height="7" width="53" />
    </button>
  </main>
</div>
